* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: black;
	background: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
}

.title {
	text-align: center;
	margin-top: 50px;
}

.title p {
	margin-top: 10px;
	position: absolute;
	text-align: left;
	left: calc(50% - 250px);
	font-size: 14px;
	width: 500px;
}

.content {
	display: flex;
	margin-top: 100px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.container {
	width: 400px;
	height: 400px;
	margin-left: 50px;
}

.left-side {
	width: 400px;
	height: 400px;
}

#video {
	width: 400px;
	height: 400px;
}

#video-rect {
	transform: translate(240px, -320px);
	height: 150px;
	width: 150px;
	border: 2px solid green;
}

.moves {
	display: flex;
	margin-top: 80px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#photo {
	width: 150px;
	height: 150px;
	margin-left: -100px;
	border-radius: 10px;
	border: 2px solid black;
}

#class, #opp-move {
	margin-left: -100px;
	text-align: center;
}

#class {
	margin-left: -150px;
}

.results {
	margin-top: 10px;
	justify-content: center;
	display: flex;
	font-size: 40px;
}

#tied {
	margin-left: 80px;
	margin-right: 80px;
}

.buttons {
	transform: translateY(-180px);
	display: flex;
	justify-content: center;
}

#capture-button, #calibrate-button {
	text-align: center;
	width: 80px;
	cursor: pointer;
	background: tomato;
	border-radius: 10px;
	padding: 10px;
}

#calibrate-button {
	width: 120px;
	margin-right: 30px;
}